html {
	box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
  }

.profile {
	width: 250px;
	text-align: center;
	margin: auto;
	border: solid 1px #5a5c5e;
	margin-top: 10px;
	margin-bottom: 10px;
}

.description {
	width: 250px;
	height: auto;
}

.avatar {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	border: solid 1px #5a5c5e;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

.username {
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	margin-top: 15px;
}

.tag {
	font-size: 14px;
	color: #97a2ae;
	text-align: center;
	margin-top: 10px;
}

.location {
	font-size: 14px;
	color: #1b1c1d;
	margin-top: 10px;
	margin-bottom: 30px;
}

.stats {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	background-color: #afb2b5;
	border-radius: 0 0 5px 5px;

}

.list {
	flex-direction: column;
	align-items: center;
	border: solid 1px #d8e0ea;
	width: 85px;

	
}

.label {
	color: #131414;
	padding-top: 22px;
	font-size: 12px;
	display: flex;
	
	
}

.quantity {
	padding-bottom: 22px;
	line-height: 1.2;
	font-weight: bold;
	font-size: 14px;
	display: flex;
}